header{
 width: 100%;
 background-color: yellow;
 height: 90px;
}	
.center{
	color:blue;
    background-color:#D8E3AB;
}	
.title{
 font-size: 36px;
 padding-top: 20px;
 text-align: center;
}
.menu{
 list-style: none;
 position: absolute;
 top: 10px;
 right: 100px;
}
.left{
margin-left: 10px;
}
